{% extends "base.html" %}
{% block donator %}

<form method="post" class="shadow-md border border-gray-200 rounded px-8 pt-6 pb-8 mb-4">
	{% csrf_token %} {% for hidden_field in form.hidden_fields %} {{ hidden_field.errors }} {{ hidden_field }} {% endfor %} 
	{% for field in form.visible_fields %}
	<div class="mb-4">
			<label class="block text-gray-700 text-sm font-bold mb-2" for="{{ field.id_for_label }}">
	{{ field.label }}
</label>
			<input class="shadow appearance-none border border-gray-500 rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" name="{{ field.name }}" id="{{ field.id_for_label }}" type="{{ field.widget_type }}">
	</div>
	{% if field.errors %} {% for error in field.errors %}
	<p class="text-red-600 text-sm italic pb-2">{{ error }}</p>
	{% endfor %} {% endif %} {% endfor %}

	<div class="flex items-center justify-center w-full">
			<button class="bg-blue-900 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">
	Log In
</button>
	</div>
</form>

{% endblock donator %}