
<div class='bg-green-600 h-10 flex justify-around items-center align-center'>
	<div>BloodBank</div>
	<div class='flex gap-20 justify-between items-center align-center'>
		<a >Home</a>
		<ul>Story</ul>
		<ul>Event</ul>
		<ul>Comminutiy</ul>
	</div>
	<div class='flex gap-20 justify-between items-center align-center'>
		{% if user.is_authenticated %}
			<a href={% url "profile" %}>profile</a>
			<a href={% url "logout" %}>logout</a>
			{% else %}
			<a href={% url "login" %}>Login</a>
			<a href={% url "singup" %}>SingUp</a>
		{% endif %}

	</div>
</div>
